* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #020617);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #1e293b;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px #38bdf8;
}

.login-container h2 {
  color: #38bdf8;
  margin-bottom: 25px;
}

.login-container input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
}

.senha-box {
  display: flex;
  gap: 5px;
}

.senha-box input {
  flex: 1;
}

.senha-box button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #000000;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #0ea5e9;
}

#mensagem {
  margin-top: 10px;
}

#imagem-ver-senha {
  box-sizing: border-box;
  width: 30px;
}

.senha-box button:active {
  transform: translate3d(0px, 1px, 0px);
  opacity: 0.5;

}

